<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The To Do List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@100;400;500;900&display=swap" rel="stylesheet">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="static/css/styles.css">

     <script src="https://kit.fontawesome.com/38f398b269.js" crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</head>


<header class="bg-image" style="background-image: url('static/img/old-paper.jpg')">
    <div class=>
      <h1 class="centered">Welcome to Your</h1>
      <h1 class="centered">To Do List</h1>
    </div>

    <div class="clearfix">
          <a class="btn btn-outline-dark btn-lg float-right" href="{{url_for('new_post')}}">Create 'To Do'</a>
    </div>

</header>

  <h1>Priority 'To Do's'</h1>
 <div class="container">
     <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
             {% for post in posts %}
             {% if post.important %}
             <div class="post-preview">
                 <a href="{{ url_for('show_post', post_id=post.id) }}">
                     <h2 class="post-title">
                         {{post.subject}}
                     </h2>
                     <h5>Click for details</h5>
                 </a>

             {% endif %}
              {% endfor %}
             </div>
         </div>
     </div>
 </div>
<hr>

  <h1>The Other 'To Do's'</h1>
 <div class="container">
     <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
             {% for post in posts %}
             {% if not post.important %}
             <div class="post-preview">
                 <a href="{{ url_for('show_post', post_id=post.id) }}">
                     <h2 class="post-title">
                         {{post.subject}}
                     </h2>

                 </a>

             {% endif %}
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>
<hr>


</body>
</html>